<!DOCTYPE html>
<html>
  <head>
    <title>메인화면 - 구독EASY</title>
    <link href="/stylesheets/common.css" />
  </head>
  <body>
    <header>
      <img src="/images/logo.png"/>
    </header>
    <main>

    </main>
  </body>
</html>
