<!DOCTYPE html>
<html>
<head>
    <title>로그인화면 - 구독EASY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <main>
        <div class="signArea">
            <div class="logo">
                <img src="/images/logo.png"/>
            </div>
            <div class="signForm">
                <p>구독하기 전에 서비스와 관련된 모든 정보를<br/>구독EASY를 통해 추천받아보세요</p>
                <form action="/login" method="post">
                    <input type="email" name="email" placeholder='이메일' autocomplete="off"/>
                    <input type="password" name="password" placeholder='비밀번호'/>
                    <label>
                        <button type="submit">로그인</button>
                    </label>
                </form>
            </div>
        </div>
    </main>
</body>
</html>